{% comment %}

    For image items, a zoomable, full screen gallery view is added using Spotlight gallery.
    Ensure dependencies are added by including `gallery: true` in the layout front matter calling this include.

{%- endcomment -%}
<a class="spotlight gallery-img" data-download="true" title="{{ page.titulo | escape }}" href="{{ page.object_location | relative_url }}">
    <img src="{{ page.image_small | relative_url }}" alt="{{ page.image_alt_text | default: page.descripcion | default: page.titulo | escape }}" class="img-fluid">
    <div><small class="text-dark">[ Ver a tamaño completo ]</small></div>
</a>
