{% comment %}

    Adds a box to highlight rights information if item has a "rights" or "rightsstatement" field.

{%- endcomment -%}
<div class="card">
    <div class="card-header">Licencia de uso</div>
    <div class="card-body">
        <dl>
            {% if page.rights %}<dt></dt>
            <dd>{{ page.rights }}</dd>{% endif %}
            {% if page.rightsstatement %}<dt></dt>
            <dd><a target="_blank" rel="noopener" href="{{ page.rightsstatement }}">{{ page.rightsstatement }}</a>
            </dd>{% endif %}
        </dl>
    </div>
</div>