{%- assign templates = site.data[site.metadata] | where_exp: 'item','item.parentid == nil ' | map: "display_template" -%}
{%- assign types = "imagen;postal;pdf;audio;video;panorama;registro;compendio" | split: ";" -%}
<div class="card mb-3" >
  <div class="card-body">
    <h5 class="card-title">Tipología de la colección</h5>
    <p class="card-text">
      {% for t in types %}
      {%- assign count = templates | where_exp: 'item','item contains t' | size -%}
      {% if count > 0 %}
      {{ count }}      
      {% case t %}
      {% when 'imagen' %} 
      <a class="text-primary" href="{{ 'imagen' | prepend: '/coleccion.html#' | relative_url }}">fotografía{% if count > 1 %}s{% endif %} <svg class="bi icon-sprite text-body" fill="currentColor" aria-hidden="true"><use xlink:href="{{ '/assets/lib/cb-icons.svg' | relative_url }}#icon-image"/></svg></a><br>
      {% when 'audio' %}
      <a class="text-primary" href="{{ 'audio' | prepend: '/coleccion.html#' | relative_url }}">audio{% if count > 1 %}s{% endif %} <svg class="bi icon-sprite text-body" fill="currentColor" aria-hidden="true"><use xlink:href="{{ '/assets/lib/cb-icons.svg' | relative_url }}#icon-audio"/></svg></a><br>
      {% when 'video' %}
      <a class="text-primary" href="{{ 'video' | prepend: '/coleccion.html#' | relative_url }}">vídeo{% if count > 1 %}s{% endif %} <svg class="bi icon-sprite text-body" fill="currentColor" aria-hidden="true"><use xlink:href="{{ '/assets/lib/cb-icons.svg' | relative_url }}#icon-video"/></svg></a><br>
      {% when 'pdf' %}
      <a class="text-primary" href="{{ 'pdf' | prepend: '/coleccion.html#' | relative_url }}">PDF{% if count > 1 %}'s{% endif %} <svg class="bi icon-sprite text-body" fill="currentColor" aria-hidden="true"><use xlink:href="{{ '/assets/lib/cb-icons.svg' | relative_url }}#icon-pdf"/></svg></a><br>
      {% when 'panorama' %}
      <a class="text-primary" href="{{ 'panorama' | prepend: '/coleccion.html#' | relative_url }}">panorámica{% if count > 1 %}s{% endif %} <svg class="bi icon-sprite text-body" fill="currentColor" aria-hidden="true"><use xlink:href="{{ '/assets/lib/cb-icons.svg' | relative_url }}#icon-panorama"/></svg></a><br>
      {% when 'registro' %}
      <a class="text-primary" href="{{ 'registro' | prepend: '/coleccion.html#' | relative_url }}">registro{% if count > 1 %}s{% endif %} <svg class="bi icon-sprite text-body" fill="currentColor" aria-hidden="true"><use xlink:href="{{ '/assets/lib/cb-icons.svg' | relative_url }}#icon-record"/></svg></a><br>      
      {% when 'postal' %}
      <a class="text-primary" href="{{ 'postal' | prepend: '/coleccion.html#' | relative_url }}">postal{% if count > 1 %}es{% endif %} <svg class="bi icon-sprite text-body" fill="currentColor" aria-hidden="true"><use xlink:href="{{ '/assets/lib/cb-icons.svg' | relative_url }}#icon-multiple"/></svg></a><br>
      {% when 'compendio' %}
      <a class="text-primary" href="{{ 'compendio' | prepend: '/coleccion.html#' | relative_url }}">compendio{% if count > 1 %}s{% endif %} <svg class="bi icon-sprite text-body" fill="currentColor" aria-hidden="true"><use xlink:href="{{ '/assets/lib/cb-icons.svg' | relative_url }}#icon-compound-object"/></svg></a><br>
	  {% else %}
      <a class="text-primary" href="{{ 'archivo' | prepend: '/coleccion.html#' | relative_url }}">archivo{% if count > 1 %}s{% endif %} <svg class="bi icon-sprite text-body" fill="currentColor" aria-hidden="true"><use xlink:href="{{ '/assets/lib/cb-icons.svg' | relative_url }}#icon-default"/></svg></a><br>
      {%- endcase -%}
      {%- endif -%}
      {%- endfor -%}
      <a class="btn btn-sm btn-primary mt-2" href="{{ '/coleccion.html' | relative_url }}">Ver Colección</a>
    </p>
  </div>
</div>