{% comment %}

    Adds button links for child items, if item has date to Timeline, if item has lat/long to Map, if item has object_location to download object.
    Styled as a Bootstrap btn-group.

{%- endcomment -%}
<div class="btn" role="group" aria-label="Item options">
    {% if child.object_transcript %}<button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTranscript{{ child.objectid }}" aria-expanded="false" aria-controls="collapseExample">Ver transcipción</button>{% endif %}
    {% if child.fecha %}{%- capture year -%}{% if child.fecha contains "-" %}{{ child.fecha | split: "-" | first }}{% elsif child.fecha contains "/" %}{{ child.fecha | split: "/" | last }}{% else %}{{ child.fecha }}{% endif %}{%- endcapture -%}
    <a href="{{ year | strip | prepend: '/timeline.html#y' | relative_url }}" class="btn btn-primary">Ver en la línea de tiempo</a>{% endif %}
    {% if child.latitud and child.longitud %}
    <a href="{{ '/map.html?localizacion=' | append: page.latitud  | append: ',' | append: page.longitud | append: '&marker=' | append: page.objectid | relative_url }}" class="btn btn-outline-primary">Ver en el mapa</a>{% endif %}
    {% if child.object_location %}<a target="_blank" rel="noopener" href="{{ child.object_location | relative_url }}" class="btn btn-primary">
        {% if child.object_location contains 'vimeo' %}View on Vimeo{% elsif child.object_location contains 'youtu' %}View on YouTube{% elsif child.display_template == 'registro'%}Link to Object{% else %}Descargar{% endif %}
    </a>{% endif %}
</div>
{% if child.object_transcript %}
<div class="collapse mt-3" id="collapseTranscript{{ child.objectid }}">
    <div class="card card-body text-start">
        {% assign transcript_type = child.object_transcript | slice: 0,8 %}
        {% if transcript_type == 'objects/' %}
        {% assign transcript = site.pages | where: 'path',child.object_transcript | first %}
        {{ transcript.content | markdownify }}
        {% else %}
        {{ child.object_transcript | markdownify }}
        {% endif %}
    </div>
</div>
{% endif %}
